h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#products_shipment_table_container {
    max-height: 500px;
    font-family: "Roboto", sans-serif;
}

#shipment_table_container {
    max-height: 600px;
    font-family: "Roboto", sans-serif;
}

.start-shopping-btn {
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}